<div class="bg-gray-800 fill-pink-500 text-gray-100 flex justify-end p-2 mx-auto bg-gray-800 text-purple-400">
    <h1><a href="https://github.com/Pachwenko/fcc-js-frameworks-certificate">View Source</a></h1>
</div>