---
// Component Imports
import BaseHead from './layouts/BaseHead.astro';
import Footer from './layouts/Footer.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title="FCC JS Frameworks Projects" description="My projects for the Free Code Camp Frontend Framework Certification" />
  </head>
  <body>
    <main class="bg-gray-800 text-gray-100 flex flex-col min-h-screen">
      <div class="justify-center text-center p-16">
        <h1 class="text-2xl text-bold p-4">My projects for the Free Code Camp Frontend Framework Certification</h1>  
        <br />
        <ul class="grid grid-cols-1 grid-rows-auto bg-gray-800">
          <li class="my-14" id="quote-machine">
            <a
              class="font-3xl font-bold rounded py-6 px-10 m-1 bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 shadow-md"
              href="/projects/quote-machine"
            >
            Quote Machine
            </a>
          </li>
          <li class="my-14" id="markdown-previewer">
            <a
              class="font-3xl font-bold rounded py-6 px-10 m-1 bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 shadow-md"
              href="/projects/markdown-previewer"
            >
            Markdown Previewer
            </a>
          </li>
          <li class="my-14" id="drum-machine">
            <a
              class="font-3xl font-bold rounded py-6 px-10 m-1 bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 shadow-md"
              href="/projects/drum-machine"
            >
            Drum Machine
            </a>
          </li>
          <li class="my-14" id="calculator">
            <a
              class="font-3xl font-bold rounded py-6 px-10 m-1 bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 shadow-md"
              href="/projects/calculator"
            >
            Calculator
            </a>
          </li>
        </ul>
      </div>
    </main>
  </body>
  <footer>
    <Footer />
  </footer>
</html>