---
// Component Imports
import BaseHead from './layouts/BaseHead.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title="FCC JS Frameworks Projects" description="My projects for the Free Code Camp Frontend Framework Certification" />
  </head>
  <body>
    <main class="bg-gray-800 text-gray-100 h-screen">
      <div class="container mx-auto justify-center text-center flex flex-col p-16">
        <h1 class="text-2xl text-bold p-4">My projects for the Free Code Camp Frontend Framework Certification</h1>  
        <br />
        <ul>
          <li id="1">
            <a href="/projects/quote-machine" class="normal-link">
            <h2 class="text-xl text-bold">Quote Machine</h2>
            </a>
          </li>
          <li id="2">
            <a href="/projects/markdown-previewer" class="normal-link">
            <h2 class="text-xl text-bold">Markdown Previewer</h2>
            </a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>