---
// Component Imports
import Calculator from '../../components/Calculator.svelte'
import BaseHead from '../layouts/BaseHead.astro'
import Navbar from '../layouts/Navbar.astro'
import Footer from '../layouts/Footer.astro'


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title="Calculator" description="Calculator - one of my projects for the Free Code Camp Frontend Framework Certification" />
  </head>
  <body class="min-h-screen bg-gray-800 text-gray-100">
    <header>
      <Navbar />
    </header>
    <main>
      <Calculator client:visible />
    </main>
  </body>
  <footer>
    <Footer />
  </footer>
</html>