---
import App from '../../components/DrumMachine.jsx'
import BaseHead from '../layouts/BaseHead.astro'
import Navbar from '../layouts/Navbar.astro'
import Footer from '../layouts/Footer.astro'

---
<html lang="en">
  <head>
    <BaseHead title="Drum Machine" description="Drum Machine - one of my projects for the Free Code Camp Frontend Framework Certification" />
  </head>
  <body>
    <Navbar />
    <main class="bg-gray-900 text-gray-100 h-screen flex flex-col justify-center mx-auto">
      <App client:visible />
    </main>
  </body>
  <footer>
    <Footer />
  </footer>
</html>