---
// Component Imports
import MarkdownPreviewer from '../../components/MarkdownPreviewer.jsx'
import BaseHead from '../layouts/BaseHead.astro'
import Navbar from '../layouts/Navbar.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title="Markdown Previewer" description="Markdown Previewer - one of my projects for the Free Code Camp Frontend Framework Certification" />
  </head>
  <body class="min-h-screen max-h-screen">
    <Navbar />
    <main class="bg-gray-900 text-gray-100 mx-auto object-fill">
      <!-- 
        Need to specify when to load the component, in this case on page load 
        See docs: https://docs.astro.build/core-concepts/component-hydration/
      -->
      <MarkdownPreviewer client:load />
    </main>
  </body>
</html>